html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: auto;
}


nav {
  display: flex;
  justify-content: right;
  align-items: left;
  background-color: rgb(245, 200, 234);
  position: fixed;
  width: 100%;
  border-bottom: solid rgb(255, 253, 253) 1px;
  z-index: 1;
  color: rgb(0, 0, 0);
  padding: 1.0rem;
}

.icon{
  align-items: left;
  justify-content: center;
  grid-template-columns: 30px 30px 30px;
  gap: 5rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  justify-content: center;
}


/* about, works, cert, about, services */
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #c25454;
 text-align: space;
  padding: 5px 6px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c25454;
  color: rgb(255, 219, 219);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(211, 130, 193);
  color:#c25454;
}

li {
  display: inline-block;
}


a {
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Home Section */

#home {
  height: 90vh;
  background-color: rgb(253, 193, 193);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  padding: 4rem;
}



.pfp {
  filter: drop-shadow(0 0 30px rgb(255, 255, 255));
 
}


.btn1{
  height: 30px;
  width: 150px;
  border: solid 1px rgb(253, 253, 253);
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(221, 158, 236);

}

.btn2{
  height: 30px;
  width: 150px;
  border: solid 1px rgb(253, 253, 253);
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(221, 158, 236);
}

/* portfolio */

#portfolio {
  height: 100%;
  background-color: rgb(240, 184, 184);
  padding: 4rem 0 4rem 0;
}

.img3{
  border-top: solid 2px black;
  border-left: solid 2px black;
}

.my-projects {
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(255, 164, 164);
  font-size: 2rem;
  color: rgb(243, 146, 146)235 50, 70;
}


@media only screen and (min-width: 320px) {
  navi {
      display: none;
  }
  .project-cont {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .my-projects {
      margin-bottom: 25px;
  }
  .h2-introduction {
      background-color: #FDC8DA;
      padding: 1rem;
      color: white;
      font-size: 1.5rem;
      text-shadow: 1px 1px 3px black;
      height: 50%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #cert {
      height: 100%;
      background-color: rgb(252, 125, 125);
      padding: 20rem 0;
  }
  .my-certs {
      font-weight: 700;
      text-shadow: 1px 1px 2px black;
      font-size: 3rem;
      color:#c94a74;
      margin-bottom: 6rem;
  }
  #About {
      height: 100%;
      padding: 20rem 0;
      background-color: rgb(99, 98, 98);
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .project-cont {
      display: flex;
      flex-direction: column;
      padding: 2rem;
  }
  .disc {
      padding: 1rem;
  }

  .img3 {
      border-bottom: solid 2px black;
  }
  #portfolio {
      margin: 10px 0;
  }
  .my-projects {
      margin-bottom: 15px;
  }
  .introduction-cont {
      background-color: #FDC8DA;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4rem;
  }
  .h2-introduction {
      font-size: 10px;
  }

  #cert {
      height: 100%;
      background-color: skyblue;
      padding-top: 5rem;
  }
  .my-certs {
      font-weight: 700;
      text-shadow: 1px 1px 2px black;
      font-size: 2rem;
      color:#FDC8DA;
      margin-bottom: 1rem;
  }
  #About {
      height: 100%;
      padding: 5rem 0;
      background-color: rgb(99, 98, 98);
      display: flex;
      align-items: center;
      justify-content: center;
  }
}


.introduction-cont {
  background-color: #FDC8DA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 70%;
}



.abt-me{
  font-weight: 600;
  font-size: 3rem;
 
}


.my-certs {
  font-weight: 700;
  font-size: 3rem;
  color:#FDC8DA;
  margin-bottom: 5rem;
}
#footer {
  display: block;
  background-color: rgb(253, 245, 245);
  height: 100%;
  padding: 2rem 0 0 0;
  text-align: center;
}